<!DOCTYPE html>
<html ng-app="menu"> 
<head>
  <title>Bootstrap collapse with angular</title>
  <script type="text/javascript" src="app.js"></script>
  <script src="http://code.angularjs.org/1.3.1/angular.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/bootstrap.min.css"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
</head>
<body ng-controller="MainCtrl">
<nav class="nav navbar navbar-default" role="navigation" ng-controller="MainCtrl">

  <div class="navbar header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>    
    </button>
    <a class="navbar brand" href="http://angularjs.org">AngularJS</a>
  </div>  

  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true" >
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown" dropdown="">
          <a href="" class="dropdown-toggle" dropdown-toggle="">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://angularjs.org">AngularJS</a></li>
        <li class="dropdown" dropdown="">
          <a href="#" class="dropdown-toggle" dropdown-toggle="">Dropdown  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<p>Looking for another {{name}}</p>
</body>
</html>